[user]
	name = Douglas Mendizábal
	email = douglas@redrobot.io
	signingkey = 2D58923C
[color]
	ui = true
[gitreview]
	username = dougmendizabal
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
